body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*Скидання геометрії ------------------------------------------*/
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*Загальні стилі ----------------------------------------------*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Стилі хедера -----------------------------------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.logo-part {
  color: #2e2f42;
}

/*----------------------------------------------------------*/
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

/*address----------------------------------------------------*/

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

/*Section 1------------------------------------------------- */

.business {
  height: 600px;
  background-color: #2e2f42;
}

.business-one {
  padding-top: 188px;
  padding-left: 316px;
  padding-right: 316px;
  margin-bottom: 48px;
  background-color: #2e2f42;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  align-items: center;
  color: #fff;
  display: flex;
}

button {
  margin: 48px auto 0;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
}

.button-business {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

button {
  cursor: pointer;
}

/*Section-2------------------------------------------------- */

.feature {
  display: flex;
  margin: 120px 0;
  gap: 8px;
}

.feature-base {
  gap: 8px;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.base-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.base-two {
  margin-bottom: 8px;
}

.base-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Section-3-------------------------------------------------*/

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  padding-top: 120px;
  text-transform: capitalize;
}

.team-card {
  display: flex;
  gap: 24px;
  width: calc((100% - 4 * 24px) / 4);
}

.team {
  background-color: #f4f4fd;
}

.card {
  background-color: #fff;
  padding-bottom: 120px;
}

.team-sec-p {
  text-transform: capitalize;
  background-color: #ffffff;
  margin-bottom: 32px;
  text-align: center;
}

.team-sec {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
  line-height: 1.2;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.card {
  background-color: #ffffff;
}

/*------------Section-4--------------------------------*/

.one-block,
.two-block {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-card-one {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.portfolio-card-two {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.portfolio-h {
  margin-top: 120px;
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-h-h {
  margin-top: 32px;
  margin-bottom: 8px;
}

.portfolio-h-p {
  padding-bottom: 32px;
}

/*--------Footer---------------------------------------*/

.page-footer {
  background-color: #2e2f42;
  height: 312px;
}

.footer-container {
  padding-top: 100px;
}

.logo footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-p {
  margin-top: 16px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;
  height: 112px;
}
